.landing-container{
    display:flex;
    min-height:84vh;
    justify-content: space-between;
    align-items: center;
    color:#cfcaca;
    padding:0 32px;
    font-family: "Bangers",cursive;
    margin:0;
    flex-wrap:wrap;
}
.landing-header{
    font-size: 80px;
    letter-spacing: 3px;
    margin:0px;

}
.type-container{
    font-size: 60px;
    letter-spacing: 3px;
    margin:0px;
    
}
.flash-image{
    width:35vw;
}
@media(max-width:800px){
    .landing-container{
        flex-direction: column;
        align-items: center;
    }
    .flash-image{
        width:80vw;
    }
    .landing-header{
        margin-top: 32px;
        text-align: center;
    }
    .type-container{
        text-align:center;
    }

}