.nav-container{
    display:flex;
    height:75px;
    align-items: center;
    background: #1d1c1c;
    margin:0;
    justify-content: space-between;
    
}
.nav-left{
    display:flex;
    align-items: center;
}
.nav-right{
    margin-right: 40px;
    
}
.flash-logo{
    margin-left: 20px;
    height:40px;
}
.flash-logo-text{
    font-family: "Bangers",cursive;
    font-size:55px;
    letter-spacing: 1px;
    margin:0 10px;
    color:white;
}
.nav-github-link{
    font-size:32px;
    color:white;
    font-weight:700;
}
